.sub-menu {
	position: sticky;
	top:70px;
	a
	{
		display: block;
		height: 100%;
		font-family: 'Acme';
		color: #7F7F7F;
		font-weight: 400;
		font-size: 12px;
		line-height: 40px;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
	}
	height: 40px;
	z-index: 3;
}

.sub-menu-container {
	height: inherit;
	
}

.sub-menu-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align:center;
	height: inherit;
	background:white;
	border-top: 2.5px solid #22BF95;
	border-radius:5px;
	box-shadow: 0px 12px 24px #F2F2F2;
	position: relative;
	top:-10px;
	
}

.sub-menu-item {
	flex:0 0 33.3333%;
	position: relative;
	height: inherit;
	cursor: pointer;
	&:not(:nth-child(3)):before{
		content:'';
		position: absolute;
		top: 50%;
		left: 100%;
		width:1px;
		height: 50%;
		background:#E5E5E5;
		transform: translate(0,-50%);
	}

	p{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
}

.sub-menu-item.active{
	a{
		color:#22BF95;
	}
}